<html lang="en" >
<head>
	<meta charset="UTF-8" />
  <title>netlibox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
  <link rel="stylesheet" href="/styles.css" />
  <link rel="shortcut icon" href="favicon.png">
</head>
<body>
  <header>
    <h1>
      Netlibox Demo
      <small>
        <a href="https://github.com/jimniels/netlibox" title="Code on Github">How this site works</a> is what’s actually interesting here.
      </small>
    </h1>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    Example content belongs entirely to <a href="https://daringfireball.net">DARING FIREBALL</a>.
  </footer>
</body>
</html>